<div class="signup-container">
<p>Please confirm or edit your contact information, so that we can notify you when you are approved for our BETA</p>
<hr/>
<div class="signup-inputs">
  <label>NAME
  </label>
  <input class="signup-dark"type="text" placeholder="John Doe" [(ngModel)]="user.name"/>
  <label>EMAIL
  </label>
  <input class="signup-dark"type="text" placeholder="John@requantive.com" [(ngModel)]="user.email"/>
  <label>PASSWORD
  </label>
  <input class="signup-light"type="password" placeholder="Type a password" [(ngModel)]="user.password"/>
</div>
<hr/>
<button (click)="signup()" type="submit" name="action">SIGN UP</button>
</div>
